*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
body,html {
    overflow-x: hidden;
    width: 100%;
}
a{
    color: inherit;
    text-decoration: none;
}

/* #33649E
#25477A BLUES
#F0BB00 gold
#0C0054 indigo */


header{
    width: 100%;
    background-color: #0C0054;
}
nav{
    width: 1300px;
    margin: 0 auto;
    padding-block: 10px;
}
.logo{
    width: 100%;
}
.logo img{
    width: 200px;
}

.landing{
    width: 1300px;
    margin: 8em auto 4em auto;
    display: flex;
    gap: 2em;
    justify-content: center;
}
.landing-text, .landing-image, .landing-image img{
    width: 100%;
}
.landing-text h1{
    font-size: 3rem;
    font-weight: 700;
}
.landing-text p{
    font-size: 1.3rem;
    margin-top: 1em;
}
.landing-text span{
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 2em;
    display: inline-block;
}
.landing-span{
    width: fit-content;
    position: relative;
    margin-bottom: 2em;
}
.landing-span svg{
    position: absolute;
    margin-top: 1em;
    top: 50%;
    left: 50%;
    fill: #F0BB00;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    overflow: visible;
}
.primarybutton{
    margin-top: 3em;
}
.primarybutton a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 5px;
    padding: 12px 60px;
    transition: all .15s;
}
.alligned{
    text-align: center;
}
.alligned a{
    border: none;
}
.primarybutton a:hover{
    background-color: #0C0054;
    color: #fff;
}
.mg-top{
    margin-top: 6em;
}
.white-bg-button a{
    background-color: #0C0054;
    color: #fff;
    border: 3px solid #000;
}
.white-bg-button a:hover{
    background-color: #fff;
    color: #000;

}
.landing-image{
    position: relative;
    padding-block: 0.5em;
}
.landing-image::before{
    background-image: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 25%);
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    height: 50%;
    width: 100%;
}
.landing-image::after{
    background: linear-gradient(360deg, #fff 0%, rgba(255, 255, 255, 0) 25%) transparent;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50%;
    width: 100%;
}


.pain-points{
    width: 1300px;
    margin: 6em auto 2em auto;
}
.pp-flex{
    display: flex;
    justify-content: space-between;
    gap: 2em;
    flex-wrap: wrap;
}
.pp-dio{
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.pp-span{
    font-size: 1.6rem;
    font-weight: 500;
}
.pp-dio p{
    font-size: 1.1rem;
}
.pp-dio i{
    font-size: 2rem;
    color: #33649E;
}

.under-landing{
    width: 100%;
    padding-block: 7em;
    margin: 8em auto 2em auto;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(image/library-bg.webp);
    background-attachment: fixed;
    background-position: 100% 100%;
    background-size: cover;
    
}
.under-landing-container{
    width: 1300px;
    margin: 0 auto;
}
.under-landing h2{
    font-size: 2rem;
    color: #fff;
    text-align: center;
}
.under-landing .big{
    font-size: 3.4rem;
    display: block;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 800;
}

.benefits{
    width: 1300px;
    margin: 4em auto;
}
.benefits-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5em;
    width: 100%;
}
.benefits-dio{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.benefits-dio img{
    width: 70px;
}
.benefits-dio h3{
    font-size: 1.6rem;
    margin-top: 10px;
}
.text-bg{
    transition: all 0.1s;
}
.benefits-dio p{
    font-size: 1.2rem;
    margin-top: 1em;
}
.benefits-dio:hover .text-bg{
    background: linear-gradient(180deg, #FFF 40%, #F0BB00 40%);
}


.testimonials{
    width: 1300px;
    margin: 8em auto 2em auto;
}
.underline{
    width: 95%;
    margin-inline: auto;
    position: relative;
    height: 5px;
    background-color: #121212;

    margin-block: 2em;
}
.underline::before{
    content: "";
    display: block;
    position: absolute;
    background-image: url(image/custom-arrow.webp);
    rotate: 180deg;
    left: -25px;
    top: -10px;
    width: 36px;
    height: 25px;
    border: none;
    opacity: 1;
}
.underline::after{
    content: "";
    display: block;
    position: absolute;
    background-image: url(image/custom-arrow.webp);
    right: -25px;
    top: -10px;
    width: 36px;
    height: 25px;
    border: none;
    opacity: 1;
}
.testimonials h2{
    font-size: 2.2rem;
    margin-bottom: 2em;
}
.testimonials-heading{
    position: relative;
    width: fit-content;
}
.testimonials-heading svg{
    position: absolute;
    top: 50%;
    left: 50%;
    fill: #F0BB00;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    overflow: visible;
}

.testimonial-dio {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    color: #7e7e7e;
    display: inline-block;
    font-size: 18px;
    margin: 35px 10px 10px;
    position: relative;
    text-align: center;
    width: 95%;
    transform: scale(0.85);
    transition: all 0.1s;
    background-color: #ffffff;
    border-radius: 5px;
    border-top: 5px solid #0C0054;
  }
  .swiper-slide{
    display: flex !important;
    justify-content: center;
  }
  .testimonial-dio *,
  .testimonial-dio *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
  }
  
  .testimonial-dio figcaption {
    padding: 13% 10% 12%;
  }

  .testimonial-dio figcaption:before {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #0C0054;
    content: "\f10e";
    font-family: 'FontAwesome';
    font-size: 32px;
    font-style: normal;
    left: 50%;
    line-height: 60px;
    position: absolute;
    top: -30px;
    width: 60px;
  }
  
  .testimonial-dio h3 {
    color: #3c3c3c;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    margin: 10px 0 5px;
  }
  
  .testimonial-dio h4 {
    font-weight: 400;
    margin: 0;
    opacity: 0.5;
  }
  
  .testimonial-dio blockquote {
    font-style: italic;
    margin: 0 0 20px;
  }

  .swiper-wrapper{
    padding: 2em 0em;
  }
  .swiper-button-prev, .swiper-button-next{
    --swiper-navigation-color: #0C0054;
    --swiper-navigation-sides-offset: 0px;
  }
  .swiper-button-prev::after, .swiper-button-next::after{
    content: '' !important;
    background-image: url(image/custom-arrow.webp);
    background-position: 100% 50%;

    width: 50px;
    height: 50px;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .swiper-button-prev::after{
    rotate: 180deg;
  }

  .swiper-pagination-bullet-active{
    --swiper-pagination-color: #0C0054;
  }

  .swiper-slide.swiper-slide-active .testimonial-dio figcaption:before{
    background-color: #F0BB00;
  }
  .swiper-slide.swiper-slide-active .testimonial-dio{
    color: #000;
    transform: scale(1);
  }


  .bg-2{
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(image/library-bg2.webp);
    background-attachment: fixed;
    background-position: 100% 85%;
    background-size: cover;
}



.process{
    width: 1300px;
    margin: 4em auto;
    display: flex;
    flex-direction: column;
    gap: 8em;
}
.process h2{
    font-size: 2.2rem;
}
.process-dio{
    width: 100%;
    display: flex;
    gap: 4em;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.process-dio-container::before{
    content: '';
    position: absolute;
    border: 3px dashed #000;
    animation: spinoffPulse 60s infinite linear;
    border-radius: 50%;
    width: 220px;
    height: 220px;
}
@-moz-keyframes spinoffPulse { 
    0% {
         -moz-transform:rotate(0deg); 
        } 
    100% {
         -moz-transform:rotate(360deg);  
        } 
}

@-webkit-keyframes spinoffPulse {
    0% { 
        -webkit-transform:rotate(0deg); 
    } 
    100% {
         -webkit-transform:rotate(360deg);
         } 
}
.process-dio-container{
    
    -webkit-animation: float 3s ease-in-out infinite;
    animation: float 3s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;


}



@-webkit-keyframes float {

    0% {-webkit-transform: translatey(0px); transform: translatey(0px); } 
    50% {-webkit-transform: translatey(-15px); transform: translatey(-15px); } 
    100% {-webkit-transform: translatey(0px); transform: translatey(0px); } 

  }

  @keyframes float {
    0% {-webkit-transform: translatey(0px); transform: translatey(0px); } 
    50% {-webkit-transform: translatey(-15px); transform: translatey(-15px); } 
    100% {-webkit-transform: translatey(0px); transform: translatey(0px); } 
  }
.process-dio-container .process-span{
    font-size: 4.5rem;
    height: 200px;
    border: 5px solid #000;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    border-radius: 50%;
    transition: all 0.2s;
    color: #fff;
    font-weight: 800;
}
#span-one{
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(image/blackboard-writing-bg.webp);
    background-size: cover;
}
.process-dio-container:hover #span-one{
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(image/blackboard-writing-bg.webp);
    background-size: cover;
    transform: scale(1.15);
}
#span-two{
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(image/lightbulb.webp);
    background-size: cover;
    background-position: 100% 100%;
}
.process-dio-container:hover #span-two{
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(image/lightbulb.webp);
    background-size: cover;
    background-position: 100% 50%;
    transform: scale(1.15);
}
#span-three{
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(image/classof2020.webp);
    background-size: cover;
    background-position: 100% 50%;
}
.process-dio-container:hover #span-three{
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(image/classof2020.webp);
    background-size: cover;
    background-position: 100% 50%;
    transform: scale(1.15);
}
#span-four{
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(image/handonbooks.webp);
    background-size: cover;
    background-position: 100% 50%;
}
.process-dio-container:hover #span-four{
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(image/handonbooks.webp);
    background-size: cover;
    background-position: 100% 50%;
    transform: scale(1.15);
}

.process-dio-text{
    width: 100%;
}
.right-aligned{
    text-align: right;
}
.process-dio-text h3{
    font-size: 1.8rem;
    margin-bottom: 1em;
}
.process-dio-text p{
    font-size: 1.3rem;
    width: 80%;
}
.right-aligned p{
    margin-left: auto;
}


.banner{
    width: fit-content;
    margin: 8em auto;
    padding: 30px 70px;
    border-radius: 100px;
    box-shadow: 5.37px 5.37px 0 0 #071317;
    border: 3px solid #071317;
    rotate: -2deg;
    
}
.banner h2{
    font-size: 2rem;
    
}


.newsletter{
    width: 100%;
    display: flex;
    margin-block: 10em;
    position: relative;
    justify-content: center;
    align-items: center;
}
.newsletter h2{
    font-size: 2.5rem;
    text-transform: uppercase;
}
.newsletter-heading{
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(image/university-hats-bg.webp);
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 0%;
    z-index: 2;
    width: 50%;
    height: 200px;
    position: relative;
    color: #Fff;
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
    align-items: center;
}
.newsletter-form{
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(image/university-hats-bg.webp);
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 0%;
    height: 200px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 100px;
}
.newsletter-form form{
    display: flex;
    gap: 1em;
    width: 100%;
}
.newsletter-form input[type=text], .newsletter-form input[type=email]{
    padding: 15px 20px;
    outline: none;
    border-radius: 10px;
    font-size: 1.2rem;
}
.newsletter-form input[type=submit]{
    font-size: 1.2rem;
    font-weight: 700;
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 10px;
    padding: 12px 60px;
    cursor: pointer;
    transition: all 0.2s;
}
.newsletter-form input[type=submit]:hover{
    background-color: #F0BB00;
}
.newsletter-heading::after{
    background-color: #fff;
    content: '';
    position: absolute;
    transform: skew(-30deg);
    width: 20px;
    height: 200px;
    right: 0px;
}
.newsletter-form::before{
    background-color: #fff;
    content: '';
    position: absolute;
    transform: skew(-30deg);
    width: 30px;
    height: 200px;
    left: -10px;
    z-index: 3;
}


/*BOOK A CALL */

.calendly{
    width: 1300px;
    margin: 8em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6em;
  }
  .calendly-link{
    width: 100%;
    box-shadow: 0px 10px 39px 0px rgb(0 0 0 / 13%);
  }
  .calendly-text{
    width: 100%;
  }
  .calendly-text img{
    width: 150px;
    border: 3px solid #0C0054;
    border-radius: 50%;
    margin-bottom: 1em;
  }

  .calendly-text h3{
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 0.5em;
  }
  .calendly-text h4{
    font-size: 1.5rem;
    margin-bottom: 1em;
  }
  .calendly-text p{
    font-size: 1.2rem;
    margin-block: 1em;
  }
  .calendly-text ul{
    display: flex;
    margin-top: 1em;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    list-style-type: none;
    list-style-position: outside;
  }
  .calendly-text ul li{
    font-size: 1.2rem;
  
  }
  .ul-li-calendly{
    display: flex;
    align-items: center;
  }
  .calendly-text ul i{
    font-weight: 700;
    margin-right: 0.5em;
    display: inline;
    font-size: 1.4rem;
    color: #33649E;
  }

  .faq {
    width: 1300px;
    margin: 8em auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3em;
  }
  .faq h2{
    font-size: 2rem;
    text-align: center;
  }
  .content {
    width: 100%;

    background-color: #071317;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .question {
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    padding: 20px;
    position: relative;
    color: #fff;
  }
  .question::after {
    content: "+";
    color: #fff;
    position: absolute;
    transition: 0.5s;
    right: 20px;
  }
  .answer {
    padding: 3px 20px;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0, 1.05, 0, 1);
    max-height: 0;
    color: white;
    font-size: 1.2rem;
  }
  .answer ul {
    margin-left: 1em;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
  }
  .answer li::before {
    content: "\2022";
    color: #0C0054;
    margin-right: 0.5em;
  }
  
  /* javascript styling*/
  
  .content.active .answer {
    max-height: 1500px;
    transition: max-height 0.5s cubic-bezier(1, 1.05, 0, 0);
    padding: 20px 20px;
  }
  .content.active .question::after {
    transform: rotate(135deg);
    font-size: 1.3rem;
  }
  
  
  
  



@media (max-width: 1350px) and (min-width: 1040px){
    nav{
        width: 90%;
    }
    .landing{
        width: 90%;
        align-items: center;
    }
    .pain-points{
        width: 90%;
    }
    .pp-flex{
        gap: 4em;
        justify-content: center;
    }
    .pp-dio{
        padding: 0;
    }
    .pp-dio p{
        font-size: 1rem;
    }
    .pp-dio i{
        font-size: 1.2rem;
    }
    .pp-span{
        font-size: 1.2rem;
    }

    .under-landing-container{
        width: 90%;
    }
    .benefits{
        width: 90%;
    }
    .testimonials{
        width: 90%;
    }
    .testimonial-dio{
        font-size: 1rem;
    }
    .swiper-button-prev::after, .swiper-button-next::after{
        background-position: 100% 50%;
        
      }

    .process{
        width: 90%;
    }
    .newsletter-form{
        padding-left: 50px;
    }
    .newsletter-heading{
        padding-right: 50px;
    }
    .newsletter h2{
        font-size: 2rem;
    }
    .newsletter-form input[type=text], .newsletter-form input[type=email]{
        font-size: 1rem;
        padding: 5px 10px;
    }
    .newsletter-form input[type=submit]{
        font-size: 1rem;
        padding: 6px 30px;
    }

    .calendly{
        width: 90%;
    }
    .faq{
        width: 90%;
    }

}
@media (max-width: 1040px) and (min-width: 880px){
    nav{
        width: 90%;
    }
    .landing{
        width: 90%;
        margin: 1em auto;
        align-items: center;
        flex-direction: column;
    }
    .pain-points{
        width: 90%;
    }
    .pp-flex{
        gap: 4em;
        justify-content: center;
    }
    .pp-dio{
        padding: 0;
    }
    .under-landing{
        margin: 2em auto;
    }
    .under-landing-container{
        width: 90%;
    }
    .under-landing h2{
        font-size: 1.6rem;
    }
    .under-landing .big{
        font-size: 2.4rem;
    }
    .benefits{
        width: 90%;
    }
    .benefits-dio h3{
        font-size: 1.2rem;
    }
    .benefits-dio p{
        font-size: 1rem;
    }
    .benefits-dio img{
        width: 50px;
    }
    .testimonials{
        width: 90%;
    }
    .testimonial-dio{
        font-size: 1rem;
    }
    .swiper-button-prev::after, .swiper-button-next::after{
        background-position: 100% 50%;
        
      }
    .process{
        width: 90%;
    }
    .process-dio-text p{
        font-size: 1.1rem;
    }
    .newsletter-form{
        padding-left: 50px;
    }
    .newsletter-heading{
        padding-right: 50px;
    }
    .newsletter h2{
        font-size: 2rem;
    }
    .newsletter-form input[type=text], .newsletter-form input[type=email]{
        font-size: 1rem;
        padding: 5px 10px;
    }
    .newsletter-form input[type=submit]{
        font-size: 1rem;
        padding: 6px 30px;
    }
    .newsletter-form form{
        flex-direction: column;
        width: 80%;
        margin-inline: auto;
    }

    
    .calendly{
        width: 90%;
    }
    .calendly .testimonials-heading h3{
        font-size: 1.8rem;
    }
    .faq{
        width: 90%;
    }
}
@media only screen and (max-width: 880px){
    nav{
        width: 90%;
        padding-block: 10px;
    }
    .landing{
        width: 90%;
        margin: 0em auto;
        align-items: center;
        flex-direction: column;
    }
    .landing-text span{
        margin-top: 1em;
    }
    .landing-text h1{
        font-size: 2.6rem;
    }
    .landing-text p{
        font-size: 1.2rem;
    }
    .pain-points{
        width: 90%;
        margin: 1em auto;
    }
    .pp-dio{
        padding: 0;
    }
    .pp-dio p{
        font-size: 1rem;
    }
    .pp-dio i{
        font-size: 1.2rem;
    }
    .pp-span{
        font-size: 1.2rem;
    }
    .under-landing{
        margin: 2em auto;
        padding-block: 3em;
    }
    .under-landing-container{
        width: 90%;
    }
    .under-landing h2{
        font-size: 1.4rem;
    }
    .under-landing .big{
        font-size: 2rem;
    }
    .benefits{
        width: 90%;
    }
    .benefits-grid{
        grid-template-columns: 1fr;
    }
    .text-bg{
        background: linear-gradient(180deg, #FFF 40%, #F0BB00 40%);
    }

    .testimonials{
        width: 90%;
    }
    .testimonials h2{
        font-size: 1.6rem;
    }
    .testimonial-dio{
        font-size: 1rem;
        width: 95%;
    }
    .swiper-slide{
        justify-content: flex-start;
    }

    .mg-top{
        margin-top: 2em;
    }



      .process{
        width: 90%;
        gap: 3em;
    }
    .process-dio{
        flex-direction: column;
        align-items: start;
    }
    .reverse-dio{
        flex-direction: column-reverse;
        align-items: end;
    }
    .process-dio-text p{
        width: 100%;
    }

    .newsletter{
        flex-direction: column;
        margin-block: 4em;
    }
    .newsletter-form{
        padding-left: 0;
        height: auto;
        padding-block: 20px;
    }
    .newsletter-heading{
        padding-right: 0;
        width: 100%;
        height: auto;
        padding-block: 40px 20px;
        justify-content: center;
    }
    .newsletter-heading::after{
        width: 0px;
    }
    .newsletter-form::before{
        width: 0;
    }
    .newsletter h2{
        font-size: 2rem;
    }
    .newsletter-form input[type=text], .newsletter-form input[type=email]{
        font-size: 1.1rem;
    }
    .newsletter-form input[type=submit]{
        font-size: 1.1rem;
    }
    .newsletter-form form{
        flex-direction: column;
        width: 80%;
        margin-inline: auto;
    }


    .calendly{
        width: 90%;
        flex-direction: column-reverse;
        margin: 4em auto;
        gap: 2em;
      }
      .calendly-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .calendly-text h2{
        font-size: 2rem;
      }
      .calendly-text h3{
        font-size: 1.3rem;
        text-align: center;
      }
      .calendly-text p{
        font-size: 1rem;
      }
      .calendly-text ul li{
        font-size: 1rem;
      }
      .calendly-link{
        box-shadow: none;
      }


      .faq{
        width: 90%;
        margin: 2em auto 4em auto;
      }
      .faq h2{
        font-size: 1.5rem;
      }
      .question{
        font-size: 1rem;
      }
      .answer{
        font-size: 0.8rem;
      }


      .banner{
        padding: 15px 40px;
        margin: 2em auto;
        width: 90%;
        text-align: center;
      }
      .banner h2{
        font-size: 1.3rem;
      }
     
}
@media only screen and (max-width: 470px){
 
    .pp-flex{
        justify-content: center;
        align-items: start;
        flex-direction: column;
    }
    .pp-dio i{
        font-size: 1.4rem;
    }
    .pp-span{
        font-size: 1.4rem;
    }
    .pp-dio p{
        font-size: 1.1rem;
    }
    .under-landing h2{
        font-size: 1.1rem;
    }
    .under-landing .big{
        font-size: 1.6rem;
    }
    .benefits-dio h3{
        font-size: 1.2rem;
    }
    .benefits-dio p{
        font-size: 1rem;
    }
    .benefits-dio img{
        width: 50px;
    }
    .testimonials h2{
        font-size: 1.35rem;
    }
    .testimonial-dio{
        width: 90%;
    }
    .swiper-slide{
        justify-content: center;
    }
    .underline{
        width: 90%;
    }
    .swiper-button-prev, .swiper-button-next{
        --swiper-navigation-size: 0px;
      }

      .process-dio-text p{
        font-size: 1rem;
      }
}